In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beringovskiy,RU,2021-04-03 23:07:43,63.0500,179.3167,3.11,85,100,21.99
1,1,Hermanus,ZA,2021-04-03 23:07:44,-34.4187,19.2345,63.00,88,0,1.01
2,2,Tual,ID,2021-04-03 23:07:44,-5.6667,132.7500,83.35,72,94,5.66
3,3,Pangnirtung,CA,2021-04-03 23:07:44,66.1451,-65.7125,-4.34,79,2,5.75
4,4,Albany,US,2021-04-03 23:07:23,42.6001,-73.9662,50.00,28,56,5.21

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Sppe
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tual,ID,2021-04-03 23:07:44,-5.6667,132.7500,83.35,72,94,5.66
5,5,Manokwari,ID,2021-04-03 23:07:45,-0.8667,134.0833,81.00,73,80,1.66
6,6,Dingle,PH,2021-04-03 23:07:45,10.9995,122.6711,78.15,84,76,7.99
18,18,Mareeba,AU,2021-04-03 23:07:49,-17.0000,145.4333,78.01,83,90,10.36
19,19,Isangel,VU,2021-04-03 23:07:49,-19.5500,169.2667,81.05,81,99,16.80
28,28,Rikitea,PF,2021-04-03 23:07:52,-23.1203,-134.9692,76.66,67,31,15.57
33,33,Kapaa,US,2021-04-03 23:07:53,22.0752,-159.3190,78.80,61,40,18.41
48,48,Atuona,PF,2021-04-03 23:07:58,-9.8000,-139.0333,80.78,75,97,12.15
53,53,Iquitos,PE,2021-04-03 23:06:09,-3.7481,-73.2472,80.60,83,75,6.91
56,56,Baculin,PH,2021-04-03 23:08:00,7.4525,126.5842,80.01,76,60,6.87

In [21]:
preferred_cities_df.count()

City_ID       174
City          174
Country       173
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2        Tual      ID     83.35  -5.6667  132.7500
5   Manokwari      ID     81.00  -0.8667  134.0833
6      Dingle      PH     78.15  10.9995  122.6711
18    Mareeba      AU     78.01 -17.0000  145.4333
19    Isangel      VU     81.05 -19.5500  169.2667
28    Rikitea      PF     76.66 -23.1203 -134.9692
33      Kapaa      US     78.80  22.0752 -159.3190
48     Atuona      PF     80.78  -9.8000 -139.0333
53    Iquitos      PE     80.60  -3.7481  -73.2472
56    Baculin      PH     80.01   7.4525  126.5842

In [30]:
# Import API key
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tual,ID,83.35,-5.6667,132.7500,Grand Vilia Hotel
5,Manokwari,ID,81.00,-0.8667,134.0833,Swiss Belhotel Manokwari
6,Dingle,PH,78.15,10.9995,122.6711,SEGAYA PROPERTY
18,Mareeba,AU,78.01,-17.0000,145.4333,Trinity Plains Tourist Park
19,Isangel,VU,81.05,-19.5500,169.2667,Volcano Sea View Tree House
28,Rikitea,PF,76.66,-23.1203,-134.9692,Pension Maro'i
33,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
48,Atuona,PF,80.78,-9.8000,-139.0333,Villa Enata
53,Iquitos,PE,80.60,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
56,Baculin,PH,80.01,7.4525,126.5842,Shovy's Cove

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))